
.page p img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pgn-group {
	text-align: center;
}

.pgn-back {}
.pgn-currentpage{}
.pgn-next {}


blockquote {
  padding-right: 9rem;
  padding-left: 5.25rem;

  &p:last-child {
    font-weight: 100;
    font-style: italic;
    font-size: 23px;
    line-height: 1.42em;
  }

  @media (max-width: 640px) {
    padding-right: 1em;
    padding-left: 1em;
  }
}
