

//test SCSS file waiting to compile

// start content
//
html, h1, h2, h3, h4, h5, h6, p, li {
  font-family:  "futura-pt", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3.masthead-title {
  font-size: 30px;
}

p {
  //font-family:  "futura-pt", 'Open Sans', Arial;
  font-weight: 200;
  line-height: 2;

  @media(max-width: 640px) {
    font-weight: 400;
  }
}

.sidebar,
.masthead-title {
  //font-family:  "futura-pt", 'Open Sans', Arial;
}

h3.masthead-title a {
  font-weight: 700;
  font-size: 23px;
  text-transform: uppercase;
}
