

//test SCSS file waiting to compile

// start content

.h1 {
  font-family: Arial;
  font-size: 5em;
}

h3.masthead-title {
  font-size: 30px;
}

p {
  font-family: 'Open Sans', Arial;
  line-height: 2;
}
