---
layout: default
---

<div class="page">

  <h1 class="page-title tk-futura-pt">{{ page.title }}</h1>
  {{ content }}
  <hr>

  {% assign pages_list = site.pages %}
  {% assign plist = site.pages | where: "thesispage", true %}

  {% for node in plist | sort: "pagenr" %}

    {% if node.title != null %}
      {% if node.url == page.url %}
        {% if node.title == page.title %}

        <div class="pgn-group">

          {% assign currentpage = forloop.index0 %}

<!-- Previous Page / Backwards -->
          {% if currentpage > 0 %}
            {% assign previouspage = currentpage | minus: '1' %}
            {% assign prevpageurl = plist[previouspage].url %}

            <a href="{{prevpageurl}}" class="btn pgn pgn-back">&laquo  Zurück</a>
          {% endif %}

<!-- Current Page -->
          <span class="pgn pgn-currentpage">
            {{ currentpage | plus: "1"}}
          </span>

<!-- Next Page / Forward -->
          {% if forloop.rindex > 1 %}
            {% assign nextpage = currentpage | plus: '1' %}
            {% assign nextpageurl = plist[nextpage].url %}

            <a href="{{nextpageurl}}" class="btn pgn pgn-next">Vorwärts  &raquo</a>
          {% endif %}


        </div>

        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
